
.main-container {
    color: black;
}

Link{
    text-decoration: none;
}
nav{
    margin-right: 10px;
}
header{
    width:100%;
    background: #E5E7EC;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header_logo{
    margin-left: 8.3%;
}

.myLink{
    text-align: center;
    padding: 20px 25px;
    font-weight: bold;
    color: rgb(72, 72, 72);
    font-size: 13px;
    text-decoration:  none;
    border-right: 1px;
    border-right-color: black;
    font-size: 14px;
    font-family: "Raleway";
    text-transform: uppercase;
    line-height: 2.143;  
}

.Border::after{
    content: "|";
    color: #b5b6b9;
    font-size: 32px;
    font-weight: 300;
}
  

  
