.main_container{
    background-image: url("../png/Background.png");
    background-size: cover;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100vh;
}

.Quick_Search {
    font-size: 55px; /* 4vw */
    font-family: "Raleway";
    color: rgb(72, 72, 72);
    font-weight: bold;
    padding-top: 80px;
  }

.h1Color{
    color: #0e7200;
}

.Innovate_List {
    font-size: 18px;/* 1vw */
    font-family: "Raleway";
    color: grey;
    text-transform: uppercase;
    line-height: 1.667;
    margin-top: -30px;;
  }

.h4Span{
   font-size: 22px;
   font-weight: bold;
}

.searchBoxWhole{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchBox{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top: 0;
    border-left: 0;
    border-width: 0;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 55px;
    font-size: 26px;
    font-family: "Raleway";
    font-weight: bold;
  }

  .SearchSelect{
    border: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 57px;
    font-size: 14px;
    font-family: "Raleway";
    font-weight: 10;
    text-align: center;
	  -moz-appearance: none;
	  -webkit-appearance: none;
    appearance: none;
    background-image: url(../png/arrow.png);
	  background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    padding: 10px;
  }

  .SearchButton{
    background-color: rgb(77, 173, 187);
    width: 165px;
    height: 55px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    align-content: center;
  }
  
  .mainButtonsContainer{
    display: flex;
    justify-content: center;
    margin-top: 230px;
  }

  .myButtons{
    background-color: rgb(255, 255, 255);
    opacity: 0.831;
    left: 750px;
    top: 841px;
    width: 149px;
    height: 56px;
    border: 0;
    margin-right: 15px;
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(14, 114, 0);
    font-weight: bold;
    text-align: center; 
  }

  .firstIcon::before{
    content: url(../png/icon_category.png);
    justify-content: stretch;
  }

  .secondIcon::before{
    content: url(../png/icon.png);
    justify-content: center;
  }
