*{
    margin:0;
    padding:0;
}
.main_container{
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body{
    background-image: url("../png/Background.png");
    background-size: 100%;
}

.Quick_Search {
    font-size: 55px;
    font-family: "Raleway";
    color: rgb(72, 72, 72);
    font-weight: bold;
    line-height: 0.545;
    padding-top: 185px;
  }

.h1Color{
    Color: green;
}

.Innovate_List {
    font-size: 18px;
    font-family: "Raleway";
    color: grey;
    text-transform: uppercase;
    line-height: 1.667;
    padding-top: 28px;
    margin-bottom: 20px;

  }

.h4Span{
   font-size: 22px;
   font-weight: bold;
}

.searchBoxWhole{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchBox{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 0;
    border-left: 0;
    border-width: 0;
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 55px;
    font-size: 26px;
    font-family: "Raleway";
    font-weight: bold;
   /* margin-left:-12%;
    margin-top: 19px;*/
  }

  .SearchButton{
    background-color: rgb(77, 173, 187);
    width: 165px;
    height: 55px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    /*margin-top: 19px;*/
    
  }
  
  .mainButtonsContainer{
      display: flex;
      justify-content: center;
      margin-top: 100px;

  }

  .myButtons{
    background-color: rgb(255, 255, 255);
    opacity: 0.831;
    left: 750px;
    top: 841px;
    width: 199px;
    height: 76px;

  }

  


  
  
  
  
  